* {
    margin: 0;
    padding: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
}
html {
    font-size: 14px;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #138300;
    background-image: url("../images/bg.png");   
}
*::selection {
    background: transparent;
}
.myGame {
    position: relative;
}
.myGame .choose {
    width: 200px;
    height: 140px;
    margin: 15% auto 0;
}
.myGame .choose ul {
    list-style: none;
}
.myGame .choose ul li {
    position: relative;
    padding:10px 20px;
    background-color: #d7b205;
    margin-top: 10px;
    cursor: pointer;
    border: 3px solid transparent;
    text-indent: 30px;
}
.myGame .choose ul li:hover {
    border: 3px solid rgba(255, 255, 255, 0.4);
}
.myGame .choose li:nth-child(2){
    background-color: #ac429a;
}
.myGame .choose li:nth-child(3){
    background-color: #da6832;
}
.myGame .choose li::before {
    content: "";
    position: absolute;
    height: 26px;
    width: 26px;
    left: 10px;
    top: 5px;
    background-image: url("../images/c1.png")
}
.myGame .game {
    display: none;
}

.myGame .game .top {
    display: inline-block;
    width: 100%;
    height: 70px;
    background: transparent;
    background-image: -webkit-linear-gradient(top, #000, rgb(0,0,0,0.4), rgb(0,0,0,0));
    background-image: -o-linear-gradient(top, #000, rgb(0,0,0,0.4), rgb(0,0,0,0));
    background-image: -moz-linear-gradient(top, #000, rgb(0,0,0,0.4), rgb(0,0,0,0));
    background-image: linear-gradient(top, #000, rgb(0,0,0,0.4), rgb(0,0,0,0));
}
.myGame .game .top .return {
    position: relative;
    height: 17px;
    width: 17px;
    padding: 5px;
    border: 3px solid #fff;
    border-radius: 50%;
    text-align: center;
    font-size: 17px;
    font-family:"SimHei";
    cursor: pointer;
    margin-top: 15px;
    margin-left: 10px;
    z-index: 100;
}
.myGame .game .top .return:hover {
    background-color: rgba(255, 255, 255, 0.4)
}

.myGame .game .top .score {
    position: absolute;
    left: 50%;
    margin-left: -100px;
    width: 200px;
    height: 40px;
    top:12px;
    z-index: 0;
}
.myGame .game .top .score div {
    position: relative;
    display: inline-block;
    margin: 0;
    width: 95px;
    height: 40px;
    line-height: 40px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-right: 5px;
}
.myGame .game .top .score .time::before{
    content: "";
    display: inline-block;
    height: 40px;
    width: 40px;
    vertical-align: -15px;
    margin-right: 5px;
    background-image: url("../images/c2.png")
}
.myGame .game .top .score .mineLeft::before{
    content: "";
    display: inline-block;
    height: 40px;
    width: 40px;
    vertical-align: -15px;
    margin-right: 5px;
    background-image: url("../images/c2.png");
    background-position-x: 40px;
}
.myGame .game .boad {
    margin:  0 auto 0;
    line-height: 0;
}
.cell {
    position: relative;
    display: inline-block;
    background-image: url(../images/close.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    cursor: pointer;
    vertical-align: bottom;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    font-family: Consolas, 'Courier New', monospace;
}
.myGame .game .boad .o {
    background-image: url(../images/open.png);
}
.myGame .game .boad .m1 {
    background-image: url(../images/m1.png);
}
.myGame .game .boad .m2 {
    background-image: url(../images/m2.png);
}
.myGame .game .boad .gg {
    background-image: url(../images/gg.png);
}
.myGame .game .end {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0,0.2);
    z-index: 1000;
    display: none;
}
.myGame .game .end .info {
    position: absolute;
    width: 320px;
    height: 160px;
    border: 1px solid #fff;
    left: 50%;
    top: 50%;
    margin-left: -160px;
    margin-top: -80px;
    text-align: center;
    background-color: rgb(255,255,255);
    background-color: rgb(255,255,255,0.4);
    
}
.myGame .game .end .info .result {
    font-size: 30px;
    line-height: 60px;
    margin: 20px 0 20px 0;
    color: #ff4000;
}
.myGame .game .end .info button {
    color: #fff;
    background-color: #03b3fc;
    border: none;
    font-size: 12px;
    padding: 10px;
    cursor: pointer;
}
.options {
    width: 150px;
    height: 50px;
    background-color: #fff;
    position: absolute;
    z-index: 100;
    border-radius: 5px;
    background-image: url('../images/opts.png')
 
}